@import "compass/reset";
@import "compass/css3";
@import "../icomoon/style.css";

body {
	font-size: 62.5%;
	font-family: 'HelveticaNeue-Light';
}

$background-color: rgb(255, 251, 245);
$main-blue-color: rgb(122, 166, 205);
$main-gray-color: rgb(242, 238, 232);
$main-black-color: rgb(86, 92, 86);

$font-size-large: 22px;
$font-size-small: 18px;

$header-icon-padding: 12px;
$header-icon-internal-padding: 8px;
$nav-height: 50px;
$icon-height: 26px;
$main-part-left-right-width: 180px;

.header {
	position: fixed;
	box-shadow: 0 1px 2px $main-gray-color;
	width: 100%;
	background-color: $background-color;
}

.header .left-icon {
	padding: $header-icon-padding+$header-icon-internal-padding $header-icon-padding;
	float: left;
	border-color: $main-gray-color;
	border-width: 0 1px 0 0;
  	border-style: solid;

  	.fa-quill:before {
		padding: $header-icon-internal-padding;
		border-radius: 50%;
		background-color: $main-blue-color;
		color: white;
		font-size: 10px;
	}
}

.header .small-icons {
	display: inline-block;
	float: left;
	& > li {
		padding: $header-icon-padding+$header-icon-internal-padding $header-icon-padding/2;
		display: inline-block;
		.font-icon:before {
			padding: $header-icon-internal-padding;
			border-radius: 50%;
			border-color: $main-gray-color;
			border-width: 1px;
  			border-style: solid;
			font-size: 10px;
			color: $main-black-color;
		}
	}

	li:first-of-type {
		padding-left: $header-icon-padding;
	}
}

.header .fa-twitter:before {
	position: absolute;
	top: 16px;
	left: 50%;
	color: $main-blue-color;
	font-size: $font-size-small;
}

.header .right-icon {
	float: right;
	display: inline-block;
	height: $icon-height;
	width: $icon-height;
	border-radius: 50%;
	padding: $header-icon-padding;
}

.header .right-search-container {
	float: right;
	width: 150px;
	height: $icon-height;
	margin: $header-icon-padding;
	margin-right: 0;
	border-color: $main-gray-color;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;

	.search-input {
		width: 75%;
		padding-left: 10px;
		padding-top: 6px;
		border: none;
		background: none;
		color: $main-gray-color;
	}

	.search-button {
		width: 15%;
		padding-left: 5px;
		border: none;
		background: none;
		color: $main-black-color;
	}
}





.main-part {
	width: 100%;
	position: relative;
}

.main-left {
	width: $main-part-left-right-width;
	background-color: $main-blue-color;
	position: absolute;
	left: 0;
	z-index: -1;
}

.main-right {
	width: $main-part-left-right-width;
	background-color: $background-color;
	position: absolute;
	right: 0;
	z-index: -1;
}

.main-center {
	background-color: rgb(242, 238, 232);
	width: 800px;
	position: absolute;
	left: $main-part-left-right-width;
	z-index: -1;
}

.main-left-center-image {
	width: 32%;
	display: inline-block;
}

img.image-detail {
	width: 60px;
	height: 60px;
	border: none;
}

.video {
	width: 400px;
	height: 300px;
}