@import "compass/reset";
@import "compass/css3";
@import "../icomoon/style.css";

body {
	font-size: 62.5%;
	font-family: 'HelveticaNeue-Light';
}

$background-color: rgb(255, 251, 245);
$main-blue-color: rgb(122, 166, 205);
$main-gray-color: rgb(242, 238, 232);
$mail-black-color: rgb(86, 92, 86);

$font-size-large: 22px;
$font-size-small: 18px;

$nav-vertical-padding: 12px;
$nav-height: 50px;
$icon-height: 25px;
$main-part-left-right-width: 180px;

.navigator {
	background-color: $background-color;
	position: relative;
	box-shadow: 0 1px 2px $main-gray-color;
}

.nav-small-icon-container {
	height: $nav-height;
}

.nav-small-icon {
	display: inline-block;
	width: $icon-height;
	height: $icon-height;
	border-radius: 50%;
	position: relative;
	margin: $nav-vertical-padding;
}

#nav-icon-style-blue {
	background-color: $main-blue-color;
}

li.seperator {
	display: inline-block;
	height: $nav-height;
	width: 1px;
	background-color: $main-gray-color;
}

#nav-icon-style-simple {
	border-color: $main-gray-color;
	border-width: 1px;
  	border-style: solid;
}

span#font-icon-white {
	color: white;
	position: absolute;
	top: 35%;
	left: 35%;
	font-size: 10px;
}

span#font-icon {
	position: absolute;
	top: 35%;
	left: 35%;
	font-size: 10px;
}

span#nav-icon-center {
	position: absolute;
	top: 30%;
	left: 50%;
	color: $main-blue-color;
	font-size: $font-size-small;
}

.nav-right-part {
	display: inline-block;
	position: absolute;
	right: 0; top: 0;
	width: 20%;
	height: 100%;
}

.right-search-container {
	height: 50%;
	width: 75%;
	display: inline-block;
	border-color: $main-gray-color;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	left: 0; top: 25%;
}

.right-search-field {
	height: 100%;
	width: 75%;
	display: inline-block;
	border: none;
	background: none;
	padding-left: 10px;
	color: $main-gray-color;
}

#right-search-button {
	height: 100%;
	width: 15%;
	display: inline-block;
	border: none;
	background: none;
}

.nav-right-icon {
	display: inline-block;
	height: $icon-height;
	width: $icon-height;
	border-radius: 50%;
	padding: $nav-vertical-padding 10px;
	position: absolute;
	right: 0;
}

.main-part {
	width: 100%;
	position: relative;
}

.main-left {
	width: $main-part-left-right-width;
	background-color: $main-blue-color;
	position: absolute;
	left: 0;
	z-index: -1;
}

.main-right {
	width: $main-part-left-right-width;
	background-color: $background-color;
	position: absolute;
	right: 0;
	z-index: -1;
}

.main-center {
	background-color: rgb(242, 238, 232);
	width: 800px;
	position: absolute;
	left: $main-part-left-right-width;
	z-index: -1;
}

.main-left-center-image {
	width: 32%;
	display: inline-block;
}

img.image-detail {
	width: 60px;
	height: 60px;
	border: none;
}

.video {
	width: 400px;
	height: 300px;
}