@import "compass/reset";
@import "compass/css3";
@import "../icomoon/style.css";

$background-color: rgb(255, 251, 245);
$main-blue-color: rgb(122, 166, 205);
$main-gray-color: rgb(242, 238, 232);
$main-black-color: rgb(86, 92, 86);

$font-size-large: 22px;
$font-size-small: 18px;

$header-icon-padding: 12px;
$header-icon-internal-padding: 8px;
$nav-height: 50px;
$icon-height: 26px;
$main-part-left-right-width: 200px;

$content-gray-color: rgb(191, 187, 172);

body {
	font-size: 62.5%;
	font-family: 'HelveticaNeue-Light';
	background-color: $background-color;
}

h1 {
	font-family: 'HelveticaNeue-Light';
	font-size: 12px;
	font-weight: bold;
	color: rgb(97, 95, 89);
}

h2 {
	font-family: 'HelveticaNeue-Light';
	font-size: 10px;
	color: rgb(191, 187, 172);
}

h3 {
	font-family: 'HelveticaNeue-Light';
	font-size: 10px;
	color: rgb(159, 157, 151);
}

.header {
	position: fixed;
	top: 0;
	left: 0; right: 0;
	height: $nav-height;
	z-index: 1;
	box-shadow: 0 1px 2px $main-gray-color;
	background-color: $background-color;
}

.header .left-icon {
	padding: $header-icon-padding+$header-icon-internal-padding $header-icon-padding;
	float: left;
	border-color: $main-gray-color;
	border-width: 0 1px 0 0;
  	border-style: solid;

  	.fa-quill:before {
		padding: $header-icon-internal-padding;
		border-radius: 50%;
		background-color: $main-blue-color;
		color: white;
		font-size: 10px;
	}
}

.header .small-icons {
	display: inline-block;
	float: left;
	& > li {
		padding: $header-icon-padding+$header-icon-internal-padding $header-icon-padding/2;
		display: inline-block;
		.font-icon:before {
			padding: $header-icon-internal-padding;
			border-radius: 50%;
			border-color: $main-gray-color;
			border-width: 1px;
  			border-style: solid;
			font-size: 10px;
			color: $main-black-color;
		}
	}

	li:first-of-type {
		padding-left: $header-icon-padding;
	}
}

.header .fa-twitter:before {
	position: absolute;
	top: 16px; left: 50%;
	color: $main-blue-color;
	font-size: $font-size-small;
}

.avatar {
	display: inline-block;
	height: $icon-height;
	width: $icon-height;
	border-radius: 50%;
}

.header .avatar {
	float: right;
	padding: $header-icon-padding;
}

.header .right-search-container {
	float: right;
	width: 150px;
	height: $icon-height;
	margin: $header-icon-padding;
	margin-right: 0;
	border-color: $main-gray-color;
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;

	.search-input {
		width: 75%;
		padding-left: 10px;
		padding-top: 6px;
		border: none;
		background: none;
		color: $main-gray-color;
	}

	.search-button {
		width: 15%;
		padding-left: 5px;
		border: none;
		background: none;
		color: $main-black-color;
	}
}

.main-part {
	margin-top: $nav-height;
	position: relative;
}

.main-part .center {
	margin: 0 $main-part-left-right-width;
	padding: 25px;
	background-color: rgb(242, 238, 232);
}

.main-part .center .tabs {
	margin-bottom: 20px;
	height: $nav-height;	
	background-color: $background-color;
	box-shadow: 2px 2px 3px $main-gray-color;

	& > li {
		display: inline-block;
		padding-top: 10px;
		text-align: center;
		width: 25%;
		height: 100%;
		box-sizing: border-box;
	}

	li:first-of-type {
		border-width: 0 0 4px 0;
		border-color: $main-blue-color;
		border-style: solid;
	}

	.tab-content {
		display: inline-block;
		margin: 0 auto;
		line-height: 15px;
	}
}

.main-part .center .tweets {
	background-color : $background-color;
	box-shadow: 2px 0px 3px $main-gray-color;
	
	& >li {
		padding: 20px;
		border-width: 1px 0 0 0;
		border-color: $main-gray-color;
		border-style: solid;
		clear: both;
	}

	li:first-of-type {
		border-width: 0;
	}

	.avatar {
		float: left;
	}
}

.main-part .center .tweets .tweet-content {
	display: inline-block;
	padding-left: 10px;
	width: calc(100% - 35px);
	box-sizing:border-box;

	& > li {
		line-height: 13px;
		margin-top: 5px;
	}

	li:first-of-type {
		margin-top: 0;
	}

	.font-icon {
		color: $content-gray-color;
		padding-left: 10px;
		padding-top: 5px;
	}

	i:first-of-type {
		padding: 0;
	}

	.right-component {
		float: right;
	}

	h1{display: inline-block;}
	h2{display: inline-block; padding-left:5px;}

	.video {
		height: 250px;
		width: 100%;
	}
}


.main-part .left {
	position: absolute;
	left: 0;
	top: 0; bottom: 0;
	width: $main-part-left-right-width;
	background-color : $main-blue-color;
}

.main-part .left .user-info {
	text-align: center;
	line-height: 15px;
	padding: 20px;

	.avatar {
		margin: 10px auto;
		display: block;
		height: $icon-height*3;
		width: $icon-height*3;
	}

	h1 {color: white;}
	h3 {padding-top: 5px;color: white;}
}

.main-part .left .images {
	& > li {
		display: inline-block;
		&>img {
			width: $main-part-left-right-width/3;
			height: $main-part-left-right-width/3;
		}
	}
}

.main-part .left .activities {
	padding: 20px;
	h1 {color: white;}
	ul {padding: 5px 0;}
	& > li {
		display: inline-block;
		padding: 10px 0;
	}

	.act-font-icon {
		display: inline-block;
		color: $main-black-color;
	}
	h2 {display: inline; padding: 0 10px;}
	a:link {color:white;}
	a:visited {color:white;}
}

.main-part .right {
	position: absolute;
	right: 0;
	top: 0; bottom: 0;
	width: $main-part-left-right-width;
	background-color : $background-color;	
	h1 {color: $main-black-color; padding-bottom: 10px;}
}

.main-part .right .trends {
	padding: 20px;
	ul {padding: 10px 0;}
	& > li {padding: 5px 0;}
	a:link {color: $main-blue-color; text-decoration: none;}
	a:visited {color: $main-blue-color;text-decoration: none;}
}

.main-part .right .to-follow {
	padding: 20px;
	ul {padding: 5px 0;}
	& > li {padding: 5px 0;}
	img {display: inline-block;}
	h2{display: inline-block;  padding: 0 10px;}
}

@media screen and (max-width: 1024px) and (min-width: 641px) { 
	.main-part .left {
		height: 550px;
	}
	.main-part .right {
		.trends{display: none;}
		position: absolute;
		left: 0;
		top: 550px;
	}

	.main-part .center {
		margin-right: 0;
	}
}

@media screen and (max-width: 640px) { 
	.header .small-icons {
		display: none;
	}	

	.header .right-search-container {
		display: none;
	}

	.main-part .right {
		display: none;
	}
	.main-part .left {
		display: none;
	}
	.main-part .center {
		margin: 0;
		padding: 0;
		padding-top: 25px;

		.tabs {
			& > li {
				display: block;
				width: 100%;
				height: 25%;
			}
			height: $nav-height*4;
		}
	}
}