@import url(../icomoon/style.css);
/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: 'HelveticaNeue-Light';
}

/* line 24, ../sass/style.scss */
.header {
  position: fixed;
  box-shadow: 0 1px 2px #f2eee8;
  width: 100%;
  background-color: #fffbf5;
}

/* line 31, ../sass/style.scss */
.header .left-icon {
  padding: 20px 12px;
  float: left;
  border-color: #f2eee8;
  border-width: 0 1px 0 0;
  border-style: solid;
}
/* line 38, ../sass/style.scss */
.header .left-icon .fa-quill:before {
  padding: 8px;
  border-radius: 50%;
  background-color: #7aa6cd;
  color: white;
  font-size: 10px;
}

/* line 47, ../sass/style.scss */
.header .small-icons {
  display: inline-block;
  float: left;
}
/* line 50, ../sass/style.scss */
.header .small-icons > li {
  padding: 20px 6px;
  display: inline-block;
}
/* line 53, ../sass/style.scss */
.header .small-icons > li .font-icon:before {
  padding: 8px;
  border-radius: 50%;
  border-color: #f2eee8;
  border-width: 1px;
  border-style: solid;
  font-size: 10px;
  color: #565c56;
}
/* line 64, ../sass/style.scss */
.header .small-icons li:first-of-type {
  padding-left: 12px;
}

/* line 69, ../sass/style.scss */
.header .fa-twitter:before {
  position: absolute;
  top: 16px;
  left: 50%;
  color: #7aa6cd;
  font-size: 18px;
}

/* line 77, ../sass/style.scss */
.header .right-icon {
  float: right;
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  padding: 12px;
}

/* line 86, ../sass/style.scss */
.header .right-search-container {
  float: right;
  width: 150px;
  height: 26px;
  margin: 12px;
  margin-right: 0;
  border-color: #f2eee8;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
}
/* line 97, ../sass/style.scss */
.header .right-search-container .search-input {
  width: 75%;
  padding-left: 10px;
  padding-top: 6px;
  border: none;
  background: none;
  color: #f2eee8;
}
/* line 106, ../sass/style.scss */
.header .right-search-container .search-button {
  width: 15%;
  padding-left: 5px;
  border: none;
  background: none;
  color: #565c56;
}

/* line 119, ../sass/style.scss */
.main-part {
  width: 100%;
  position: relative;
}

/* line 124, ../sass/style.scss */
.main-left {
  width: 180px;
  background-color: #7aa6cd;
  position: absolute;
  left: 0;
  z-index: -1;
}

/* line 132, ../sass/style.scss */
.main-right {
  width: 180px;
  background-color: #fffbf5;
  position: absolute;
  right: 0;
  z-index: -1;
}

/* line 140, ../sass/style.scss */
.main-center {
  background-color: #f2eee8;
  width: 800px;
  position: absolute;
  left: 180px;
  z-index: -1;
}

/* line 148, ../sass/style.scss */
.main-left-center-image {
  width: 32%;
  display: inline-block;
}

/* line 153, ../sass/style.scss */
img.image-detail {
  width: 60px;
  height: 60px;
  border: none;
}

/* line 159, ../sass/style.scss */
.video {
  width: 400px;
  height: 300px;
}
